.SingleRepo
	padding: 20px

	.SingleRepo__name
		margin: 20px 0 0 0
		font-size: 16px
		font-weight: 700
		color: #27282D
		font-family: $main-font

	.SingleRepo__meta
		padding: 5px 0 5px 0
		margin-bottom: 15px
		display: flex
		align-items: center
		border-bottom: 1px dotted gray

		.SingleRepo__path
			font-size: 12px
			color: $shadow
			font-family: $monospace
			flex: 3
			overflow: hidden
			text-overflow: ellipsis

		.SingleRepo__helpers
			flex: 1
			text-align: right
			display: flex
			align-items: center
			justify-content: flex-end

			img
				height: 20px

			img, a
				vertical-align: middle
				margin-left: 10px

				&:first-child
					margin-left: 0

		



