.SingleRepo
	padding: 20px

	h1
		margin: 0	
	h2
		font-weight: bold
		font-size: 14px
	h5
		opacity: 0.3
		border-bottom: 1px dotted gray
		padding-bottom: 5px
	.external_link
		width: 20px
		height: 20px
		float: right
		opacity: none
		



