doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	title Coedu
	link(href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css')
	link(rel="stylesheet", href="css/main.css")
body
	main#app

	script(src="./js/app.min.js")